<footer class="container-fluid">
  <p class="text-center p-5">
    Created by <strong> <a
         class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
         href="https://andrastoth.eu"> {{ site.author }} </a></strong> {{
    site.copyrightYear }}
  </p>
</footer>